@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: 'Google Sans', sans-serif;
    background: linear-gradient(90deg, #3b5586, #00aeff);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

a {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(34, 0, 255);
    transition: transform 0.3s ease-in-out;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    margin-top: 0;
    background-color: #ededed;
    border-bottom: 1px solid silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(162, 0, 255);
}

header .logo img {
    max-width: 2rem;
    height: auto;
}

header nav {
    display: flex;
    gap: 1.5rem;
    position: relative;
}

header a:hover {
    transform: translateY(-3px);
    color: rgb(0, 200, 255);
}

.hidden {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 50vw;
    height: auto;
    min-height: 65vh;
    gap: 1rem;
    padding: 1rem 3rem;
    background-color: #ffffffdc;
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.91);
    font-size: large;
}

@media (max-width: 768px) {
    .container {
        width: 80vw;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-group input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-group select {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-group select:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-group.hidden {
    display: none !important;
}

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 1rem auto;
    text-align: center;
}

.curr-info {
    color: #a1a1a1;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    align-self: flex-end;
    padding: 0;
    bottom: 1rem;
    right: 1rem;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}